@model IEnumerable<Decofe2017.Models.Trabalho>

@{
    ViewBag.Title = "Index";
}

<h2>Listagem Trabalhos</h2>

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success text-center">
        <h3>@TempData["Sucesso"]</h3>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>
            Cód. Trabalho
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            CPF
        </th>

        <th>
            Título
        </th>
        <th>
            Data Apresentação
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ausente)
        </th>
        <th>
            Data Envio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoTrabalho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataApresentacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ausente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEnvio)
        </td>
        <td>
            <button class="btn btn-info" title="Avaliar" onclick=" window.location.href = '@Url.Action("Avaliar", "Home", new {trabalhoId = item.TrabalhoId, avaliadorId = item.AvaliadorId})' "><i class="glyphicon glyphicon-edit"></i></button>
        </td>
    </tr>
}

</table>
